@inject HttpClient Http

<div class="row">
    <div class="col-12">
        <StoryPreview Title="Johnny Walks" Description="All over Bryan's Face">

        </StoryPreview>
    </div>
</div>

@code {

}
